@use 'variables';

.row-dark {
    background-color: #e2e2e2;
    display: flex;

    .flex-container {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;

        .section {
            flex: 1;
            width: 100%;
            min-width: 300px;

            img {
                width: 100%;
                height: auto;
            }

            p.section-title {
                font-weight: bold;
            }

            p.info {
                a{
                    color: variables.$primary-text-color;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

            }

        }
    }
}