@use 'variables';

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    min-height: 400px;

    .wrapper {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;

        .column {
            padding: 10px;
            border-radius: 5px;
            height: fit-content;
            flex: 1 1 calc(25% - 20px);
            /* Négy oszlop, 20px rés */
            box-sizing: border-box;
&:nth-child(2){
    padding-top: 100px;
}
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            .social-media-icons {
                display: flex;
                gap: 10px;

                & svg {
                    fill: variables.$primary-text-color;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}