header {
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 10px;
    min-height: 400px;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        /* fekete, 40%-os áttetszőség */
    }
    
    .wrapper {
        padding: 30px;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;
        
        .logo {
            width: fit-content;
        }
        
        .caller-btn {
            a {
                width: fit-content;
                padding: 10px 20px;
                background-color: #ff6600;
                color: white;
                text-decoration: none;
                border-radius: 5px;
                font-weight: bold;
            }
        }
        
        .banner-text {
            color: #fff;
            width: 100%;
        }
    }
}

.page-home header,.page-default header {
    background: url('../images/banner.jpg') no-repeat center center;
}
.page-stresni header {
    background: url('../images/head-bg2.jpg') no-repeat center center;
}
.page-fasadni header {
    background: url('../images/head-bg2.jpg') no-repeat center center;
}