.signup-form {
    flex:1;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    input,textarea{
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.signup-text{
    flex:1;
    margin-bottom: 20px;
    h2{
        margin-bottom: 10px;
    }
    p{
        font-size: 14px;
        color: #666;
    }
}

.signup-all{
    display: flex;
}