@import 'signup';

body {
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://geru.sk/wp-content/uploads/2021/06/quotes-min.jpg') ;
    background-attachment: fixed;
}

header {
    background: url('../assets/images/banner.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 10px;
    min-height: 400px;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        /* fekete, 40%-os áttetszőség */
    }

    .wrapper {
        padding: 30px;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

        .logo {
            width: fit-content;
        }



        nav {
            position: relative;
            width: fit-content;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    display: inline-block;
                    margin-right: 20px;

                    a {
                        color: white;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .caller-btn {
            a {
                width: fit-content;
                padding: 10px 20px;
                background-color: #ff6600;
                color: white;
                text-decoration: none;
                border-radius: 5px;
                font-weight: bold;
            }
        }

        .banner-text {
            color: #fff;
            width: 100%;
        }
    }
}

main {
    .row-light {
        background-color: #f4f4f4;
    }

    .row-dark,
    .row-light {
        padding: 20px;
        min-height: 300px;
        height: auto;
        width: 100%;

    }

    .row-dark {
        background-color: #e2e2e2;
    }

    .row-signup{
        background-color: #faf5e5;
    }

    .row-transparent {
        background-color: transparent;
    }
}

.break {
    flex-basis: 100%;
    height: 0;
    /* opcionális, ha nem akarsz extra helyet */
}

.hide-in-small {
    @media (max-width: 600px) {
        display: none;
    }
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}