@use 'contact';
@use 'carousel';
@use 'variables';
@use 'darkRow';
@use 'boxes';
@use 'nav';
@use 'buttons';
@use 'footer';
@use 'overlap_images';
@use 'callerBox';

body {
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://geru.sk/wp-content/uploads/2021/06/quotes-min.jpg');
    background-attachment: fixed;
}

header {
    background: url('../assets/images/banner.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 10px;
    min-height: 400px;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        /* fekete, 40%-os áttetszőség */
    }

    .wrapper {
        padding: 30px;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;

        .logo {
            width: fit-content;
        }

        .caller-btn {
            a {
                width: fit-content;
                padding: 10px 20px;
                background-color: #ff6600;
                color: white;
                text-decoration: none;
                border-radius: 5px;
                font-weight: bold;
            }
        }

        .banner-text {
            color: #fff;
            width: 100%;
        }
    }
}

main {
    .row-light {
        background-color: #f4f4f4;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .column {
            width: 50%;
            padding: 20px;
            box-sizing: border-box;
            @media screen and (max-width: 600px) {
                width: 100%;
            }
            padding-bottom: 100px;
            h2, .description{
                max-width: 400px;
            }
        }
        min-height: 950px;
    }

    .row-dark,
    .row-light {
        padding: 20px;
        height: auto;
        width: 100%;

    }

    .row-house {
        background: #e8f0fe url('https://geru.sk/wp-content/uploads/2021/06/shape-3.png') no-repeat center center;
        background-size: cover;
    }

   

    .row-signup {
        background-color: #faf5e5;
    }

    .row-transparent {
        background-color: transparent;
        p{
            color: variables.$primary-text-color;
            font-weight: bold;
        }
        h2{
            color: white;
            font-size: 2.5rem;
            margin-top: 0;
            margin-bottom: 20px;
            @media (max-width: 600px) {
                font-size: 1.8rem;
            }
        }
    }
}

.break {
    flex-basis: 100%;
    height: 0;
    /* opcionális, ha nem akarsz extra helyet */
}

.hide-in-small {
    @media (max-width: 600px) {
        display: none;
    }
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.list-with-image-style{
    list-style: none;
    li{
        padding-left: 30px;
        margin-bottom: 10px;
        & svg{
            width: 20px;
            height: 20px;
            position: absolute;
            margin-left: -30px;
            margin-top: 3px;
            fill: variables.$primary-text-color;
        }
    }
}

.text-center{
    text-align: center;
}
.text-color-primary{
    color: variables.$primary-text-color;
}